<%-include('include/_header')%>
    <div class="home-container">
        
        <div class="home-blogs-container">
            <div class="blog-container-heading">
                <h1>Welcome to TheBlogNation</h1>
                <p>Read, Write & Enjoy The Blogs!</p>
            </div>
            <div class="home-blog-start-heading">
                <h1>Blogs!</h1>
            </div>
            <div class="blogs-wrapper">
                <% for(var i=0; i < blog.length;i++){ %>
                <div class="blog-box-style">
                    <a class="blog-box-link" href="/view-blog?id=<%= blog[i]._id%>">
                    <input type="hidden" name="id" value="<%= blog[i]._id%>">
                    <div class="blog-box-image">
                        <img height="100%" width="100%" src="<%- blog[i].image %>" alt="" srcset="">
                    </div>
                    <div class="blog-box-heading">
                        <h1><%=blog[i].title%></h1>
                    </div>
                    <div class="blog-box-desc">
                        <p>
                           <%= blog[i].description%> 
                        </p>
                    </div>
                    </a>
        
                    <div class="box-buttons">
                        
                    <a href="/update-blog?id=<%= blog[i]._id%>" class="box-btn-link">
                        <span class="box-btn"><i class="fas fa-edit fa-lg"></i></span>
                    </a>

                    <a class="box-btn-link delete" data-id=<%=blog[i]._id%>>
                        <span class="box-btn"><i class="fas fa-trash-alt fa-lg"></i></span>
                    </a>
                        
                        
                    </div>
                </div>

            
                <% } %>
            </div>
        </div>
    </div>
<%-include('include/_footer')%>

    