<!-- Header -->
<%- include('include/_header')%>
<!-- /Header -->

<div class="view-blog-container">
    
    <div class="view-blog-wrapper">
        <div class="view-blog-heading">
            <h1><%= user.title %></h1>
        </div>

        <div class="view-blog-image">
            <img src="<%= user.image%>" alt="" srcset="">
        </div>

        <div class="view-blog-content">
            <p><%= user.description %></p>
        </div>
    </div>
   
</div>


<!-- Footer -->
<%- include('include/_footer')%>
<!-- /Footer -->